.main {
  width: 100%;
  padding-top: 3rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.input {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  background-color: #3a3a3a;
}

.form {
  display: flex;
  width: 80%;
  padding: 1rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

@media (max-width: 767px) {
  .vertical {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
  }

  .form {
    display: flex;
    width: 100%;
    padding: 1rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    background-color: #3a3a3a;
  }

  .horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 1rem;
  }
}
