@import url(https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Open+Sans&display=swap);

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: rgba(19, 19, 19, 0.9);
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

* {
  overscroll-behavior: none;
  box-sizing: border-box;
  margin: 0;
  font-family: Inter, sans-serif;
  font-family: Open Sans, sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  background: linear-gradient(20deg, #111111, #302f31);
  color: #ffffff;
  transition: all 0.5s linear;
}

.App-light {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: linear-gradient(20deg, #ffffff, #9f9da0);
  color: #302f31;
  transition: all 0.5s linear;
  min-height: 100vh;
}

.main {
  width: 100%;
  padding-top: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.h1 {
  font-size: 3rem;
  font-family: Inter, sans-serif;
  width: 80%;
}

.h1-sub {
  font-size: 1.5rem;
  font-family: Inter, sans-serif;
}

.h2 {
  font-family: Inter, sans-serif;
  font-size: 1.2rem;
  width: 75%;
}

.h3 {
  font-size: 1rem;
  width: 55%;
}

.h4 {
  font-family: Inter, sans-serif;
}

.h5 {
  font-family: Inter, sans-serif;
  font-size: 0.8rem;
}

.theme {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 1rem;
}

.theme-button {
  width: 10rem;
  border-radius: 0.5rem;
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: #272727;
  padding: 0.5rem;
  z-index: 0;
}

#light .theme-button {
  width: 10rem;
  border-radius: 0.5rem;
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: #c6c6c6;
  padding: 0.5rem;
}

@media (max-width: 767px) {
}

@media (min-width: 768px) and (max-width: 1023px) {
}

@media (min-width: 1500px) {
}
